@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import'config';
@import 'swipper';
@import'sidebar';
@import'home';
@import'navbar';
@import'about';
@import 'blog';
@import 'resume';
@import 'contact';
@import 'potfolio';
@import 'loader';
@import 'responsive';


body{
    color:$secondary-color;
     background:lighten($primary-color,6.5%);
    font-family: 'Roboto';
    width: 100vw;
    overflow-x:hidden;
    padding:0;
    margin:0;
    box-sizing:border-box;
}
h1,h2,h3{
    // font-weight:400;
}
p{
    // font-size:14px;
}
a{
    text-decoration: none;
    outline: 0;
    &:focus{
        outline: none;
    }
}

.social-icons{
        display:flex;
        position:absolute;
        right:0;
        bottom:0;
        margin-right: 5px;
        flex-direction:column;
        .fab{
            margin-bottom:10px;
            font-size:16px;
            color:$third-color;
            transform:scale(1);
            @include transition-ease;
            &:hover{
               color:lighten($secondary-color,10%);
               transform:scale(1.07);
            }
        }
    }

.main-header{
    text-align:center;
    color:$third-color;
    margin:0 auto;
    display:inline;
    min-width:90px;;
    position:relative;
    &::before{
        content:'';
     position: absolute;
    background:$secondary-color;
    width: 30px;
    height: 1.5px;
    top: 44px;
    left: 4px;
    display:none;
    }
        
    &::after{
        content:'';
     position: absolute;
    background:$secondary-color;
    width: 30px;
    display: none;
    height: 1.5px;
    top: 44px;
    right: 4px;
        
    }
}
.contai-ner{
    display:none;
}



.mark{
    display: none;
    position:relative;
    margin:0 auto;
    &::after{
        content: '';
    position: absolute;
     background:lighten($primary-color,6.5%);
    width: 13px;
    height: 13px;
    top: 0;
    right: 2px;
    border: 2px solid $secondary-color;
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
    display: none;
    
    }
    &::before{
            content: '';
    position: absolute;
    display:none;
    width: 13px;
    height: 13px;
    top: 0;
    left: 2px;
     background:lighten($primary-color,6.5%);
    border: 2px solid $secondary-color;
    border-radius: 50px 50px 0 50px;
    transform: rotate(135deg);
    
    }
}
.sub-head{
    text-align:center;
    font-size:30px;
}